astunparse==1.6.3
beautifulsoup4==4.9.3
cachetools==4.2.0
certifi==2020.12.5
chardet==4.0.0
cloud-tpu-client==0.10
cycler==0.10.0
Django==2.0
django-autoslug==1.9.3
django-clever-selects==0.8.2
django-core==1.4.1
django-dont-vary-on==0.1.1
django-el-pagination==3.0.1
django-evercookie @ git+https://github.com/gdmka/django_evercookie.git@59431021504950e8ccfb7c1227b1bd8cbbc2d3bd
django-extensions==1.7.5
django-filter==2.1.0
django-htmlmin==0.10.0
django-model-utils==4.1.1
django-user-agents==0.3.2
djangorestframework==3.5.3
djangorestframework-bulk==0.2.1
djangorestframework-jwt==1.9.0
efficient-apriori==1.1.1
extensions==0.4
flatbuffers==1.12
gast==0.3.3
google-api-core==1.24.1
google-api-python-client==1.8.0
google-auth==1.24.0
google-auth-httplib2==0.0.4
google-auth-oauthlib==0.4.2
google-pasta==0.2.0
googleapis-common-protos==1.52.0
grpcio==1.32.0
gunicorn==20.0.4
h5py==2.10.0
html5lib==1.1
httplib2==0.18.1
idna==2.10
jdatetime==1.8.1
joblib==1.0.0
jsonfield==1.0.3
Keras-Preprocessing==1.1.2
kiwisolver==1.3.1
lxml==4.6.2
Markdown==3.3.3
matplotlib==3.3.3
numpy==1.19.5
oauth2client==4.1.3
oauthlib==3.1.0
opt-einsum==3.3.0
pandas==1.2.0
Pillow==8.1.0
plotly==4.14.1
protobuf==3.14.0
psycopg2==2.8.6
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyJWT==1.7.1
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.5
requests==2.25.1
requests-oauthlib==1.3.0
retrying==1.3.3
rsa==4.6
scikit-learn==0.24.0
scipy==1.6.0
seaborn==0.11.1
six==1.15.0
soupsieve==2.1
sqlparse==0.4.1
tensorboard==2.4.0
tensorboard-plugin-wit==1.7.0
tensorflow==2.4.0
tensorflow-estimator==2.4.0
termcolor==1.1.0
threadpoolctl==2.1.0
typing-extensions==3.7.4.3
ua-parser==0.10.0
uritemplate==3.0.1
urllib3==1.26.2
user-agents==2.2.0
webencodings==0.5.1
Werkzeug==1.0.1
wrapt==1.12.1
