{% load static %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<head profile="http://gmpg.org/xfn/11">
<head style="background-color:white;">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width,initial-scale=1.0, user-scalable=no">
<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900|Oswald:300,400,500,600,700" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
<link href="{% static 'semantic/dist/semantic.min.css' %}" rel="stylesheet">
<link rel="stylesheet" href="{% static 'trainyourmodel/css/style.css' %}" type="text/css" media="screen" />
<link rel="shortcut icon" href="{% static 'images/favicon/favicon.png' %}" type="image/x-icon">
<link rel="icon" href="{% static 'images/favicon/favicon.png' %}" type="image/x-icon">
<link rel="apple-touch-icon" sizes="60x60" href="{% static 'images/favicon/logo-feedmedata.png' %}">
<link rel="icon" type="image/png" sizes="192x192"  href="{% static 'images/favicon/logo-feedmedata.png' %}">
  
<link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon/favicon-32x32.png' %}">
<link rel="manifest" href="{% static 'images/favicon/manifest.json' %}">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="{% static 'images/favicon/favicon.png' %}">
<title>{% block title %}Machine Learning as a Service 5{% endblock %}</title>
<script src="{% static 'trainyourmodel/js/jquery-3.3.1.min.js' %}"></script>
{% if is_home %}
  <script src="{% static 'trainyourmodel/js/owl.carousel.min.js' %}"></script>
{% endif %}
</head>
<body>  
<body style="background-color:white;">  
{% block content %}{% endblock %} 
{% comment %}<!-- footer -->{% endcomment %}
</body>  
<footer id="footer">
  <div class="main">
    <div class="container">
      <div class="main-1">
        <ul align = "left">
          <li><a href="https://www.trainyourmodel.com/how-it-works/" rel="nofollow">How it works</a></li>
          <li><a href="https://www.linkedin.com/in/salinasdiego/" rel="nofollow">Contact Me</a></li>
        </ul>
      </div>
      <div class="main-2">
      </div>
    </div>
  <div class="copy">
  <a href="#" class="scroll-top"></a>
</footer>
{% comment %}<!-- tab newsletter -->{% endcomment %}

{% comment %}<!-- ./tab newsletter -->{% endcomment %}
<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.css" />
<script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.js"></script>
<script>
window.addEventListener("load", function(){
window.cookieconsent.initialise({
  "palette": {
    "popup": {
      "background": "#3d3f4a",
      "text": "#ffffff"
    },
    "button": {
      "background": "#88c59f",
      "text": "#ffffff"
    }
  },
  "theme": "classic",
  "content": {
    "message": "ef successView(request):
        context={}

        context['is_home'] = True
        context['lazyjs'] = False
        context['valoracionesjs'] = False
        context['valoracionesTiendajs'] = False
        context['normal_footer_cat'] = True

        return render(request, 'success.html', context).",
    "dismiss": "Agree",
    "link": "Read more",
    "href": "https://www.trainyourmodel.com/privacy/"
  }
})});
</script>
<script src="{% static 'semantic/dist/semantic.min.js' %}"></script>
<script src="{% static 'trainyourmodel/js/animatescroll.min.js' %}"></script>
{% comment %}<script src="{% static 'trainyourmodel/js/jquery.fancybox.min.js' %}"></script>{% endcomment %}
<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
<script src="{% static 'trainyourmodel/js/icheck.js' %}"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.js"></script>
{% if lazyjs %}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.lazy/1.7.4/jquery.lazy.min.js"></script>
{% endif %}
<script src="{% static 'trainyourmodel/js/scripts.js' %}"></script>
<script src="{% static 'django_evercookie/swfobject-2.2.min.js' %}"></script>
<script src="{% static 'trainyourmodel/js/js.cookie.js' %}"></script>
<script src="/ecookie"></script>
{% if lazyjs %}
<script>
    $(function() {
        $('.lazy').lazy();
    });
    var $windowheight = $(window).outerHeight ();
    $('#search-container .results').css('max-height', $windowheight - 150);
    
    $( window ).resize(function() {
    $windowheight = $(window).outerHeight ();
    $('#search-container .results').css('max-height', $windowheight - 150);
  });
  
  $( window ).on( "orientationchange", function() {
    $windowheight = $(window).outerHeight ();
      $('#search-container .results').css('max-height', $windowheight - 150);
  });
</script>
{% endif %}
{% if is_home %}
<script>
    $('.slider-home').owlCarousel({
      autoplay: true,
      items: 1,
      loop: true,
      autoplayTimeout: 3000,
      smartSpeed: 350,
  });
</script>
{% endif %}    
{% block page_js %}
{% endblock %}
    </body>
<html/>
