{% extends "base.html" %}
{% load extra_tags %}
{% load static %}
{% block title %}Any inquiry? Get in touch!{% endblock %}
{% block meta %}
<meta name="description" content="If you have any doubt or question about Trainyourmodel, drop me an email.">
<meta property="og:title" content="¿Any doubt? Get in touch">
<meta property="og:site_name" content="Trainyourmodel">
<meta property="og:url" content="https://www.trainyourmodel.com/contact/">
<meta property="og:description" content="If you have any doubt or question about Trainyourmodel, drop me an email.">
<meta property="og:type" content="website" />
<meta property="og:image" content="/static/images/logo-feedmedata.jpg">
<meta property="og:locale" content="en_US" />
<link rel="canonical" href="https://www.trainyourmodel.com/contact/" />
<meta name="robots" content="noindex, follow">
{% endblock %}
{% block content %}
<body>	
	{% comment %}<!-- header -->{% endcomment %}
	<header id="header" class="ffixed">
		{% comment %}<!-- shared header -->{% endcomment %}
		{% include "header.html" %}
		{% comment %}<!-- ./shared header -->
		<!-- en background-image podemos sobreescribir la imagen -->{% endcomment %}
		<div class="head-bg" style="background-image: url({% static 'images/Logo-feedmedata.png' %}); background-position: 50% 90%">		
			<div class="title-tag-wrapper"><h1 class="title-tag">Contact</h1></div>
		</div>
	</header>
	{% comment %}<!-- ./header -->{% endcomment %}
	{% comment %}<!-- section section-text" -->{% endcomment %}
	<section class="section-text final-text">
		<div class="container small">
		<h2 class="tit1">How can I help?</h2>
		<p class="feat">Please feel free to reach out for any inquiry. I will try to respond asap.</p>
		</div>
		<div class="container xsmall contact-form">
			<form action="/contact/" method="post">
				{% csrf_token %}
				<div class="f-row">
					<label for="name">Name</label>
					<input type="text" id="name" name="name" required  />
				</div>
				<div class="f-row">
					<label for="email">Email</label>
					<input type="email" id="email_contacto" name="email_contacto" required />
				</div>
				<div class="f-row">
					<label for="message">Type your inquiry</label>
					<textarea id="message" name="message" required ></textarea>
				</div>
				
				<div class="f-row">
					<input type="submit" value="Send" class="btn" />
				</div>
			</form>
		</div>
	</section>
	{% comment %}<!-- ./section section-text" -->
	<!-- section -->{% endcomment %}
	<section class="section-text">
		<div class="container small">
		</div>
	</section>
	{% comment %}<!-- ./section -->{% endcomment %}
{% endblock %}
