{% extends "base.html" %}
{% load extra_tags %}
{% load static %}
{% block title %}How does Trainyourmodel work?{% endblock %}
{% block meta %}
<meta property="og:title" content="How does Trainyourmodel work?">
<meta property="og:site_name" content="Trainyourmodel">
<meta property="og:url" content="https://www.trainyourmodel.com/how-it-works/">
<meta property="og:description" content="Run algorithms and analyze data in one click.">
<meta property="og:type" content="website" />
<meta property="og:image" content="/static/images/Logo-feedmedata.png">
<meta property="og:locale" content="en_US" />
<link rel="canonical" href="https://www.trainyourmodel.com/how-it-works/" />
<meta name="robots" content="index, follow">
{% endblock %}
{% block content %}
<body>
	{% comment %}<!-- header -->{% endcomment %}
	<header id="header" class="ffixed">
		{% comment %}<!-- shared header -->{% endcomment %}
		{% include "header.html" %}
		{% comment %}<!-- ./shared header -->
		<!-- en background-image podemos sobreescribir la imagen -->{% endcomment %}
		<div class="head-bg" style="background-image: url({% static 'images/Logo-feedmedata.png' %}); background-position: 50% 90%">		
			<div class="title-tag-wrapper"><h1 class="title-tag">How does Trainyourmodel work?</h1></div>
		</div>
	</header>
	{% comment %}<!-- ./header -->
	<!-- section section-text" -->{% endcomment %}
	<section class="section-text como-funciona-intro">
		<div class="container small">
		<h2 class="tit1">Machine Learning Made Easy</h2>
		<p class="feat"> Trainyourmodel is a free tool making easy to run machine learning algorithms without any coding skills.<br>
	        In general, you can use Unsupervised Algorithms to classify unlabeled data and find hidden patterns.<br>
		On the other hand, Supervised Algorithms need a labeled training dataset as input. You can use them to make predictions.<br>
		This is an overview of the applications for the main machine learning algorithms:<br>
		<p> - <strong>Unsupervised learning with categorical variables:</strong> association techniques like Apriori or Hidden Markov.</p>
		<p> - <strong>Unsupervised learning with continuous data:</strong> clustering methods like K-Means of dimensionality reduction as in PCA.</p> 
		<p> - <strong>Supervised learning with categorical variables:</strong> classification algorithms like SVM, decision trees, naive-bayes or logistic regression.</p>
		<p> - <strong>Supervised learning with continuous variables:</strong> linear o multivariant regression and trees/random forests</p>	
		<p> - <strong>Deep learning:</strong> you can use neural networks for both supervised and unsupervised data.</p>	
		</p>
	
{% endblock %}
