{% load static %}
<div id="top" style="background-color:white;"></div>
<div class="menu-fix">
	<div class="menu-nav">
	        <div class="container">
		<div class="logo-mobile"><a href="{% url 'portal:home' %}"><img src="{% static 'images/Logo-feedmedata.png' %}" alt="Logo The Best 5"/></a></div>
		<div class="nav">
			<nav>
				{% include "menu.html" %}
			</nav>
		</div>
		<a href="#" class="toggle-menu">
			<span class="bar"></span>
			<span class="bar"></span>
			<span class="bar"></span>
		</a>
		</div>
	</div>	
</div>
</body>
