{% load extra_tags %}
<html> 
  <body style="background-color:#E4FDE1";"font size: 5";font-style: verdana";"align: center";>
  <h2> These are the results for your dataset and selected algorithm</h2>
  <h4>Error vs Number of clusters:</h4>
  {{ nclusters }}
  </br>
 <p>The above graph shows how error decreases when a new cluster is added. The "elbow" method, determines the optimal number of clusters as the one in which the error drops significantly slower</p> 
                                                                                             
 <h4>Labels:</h4>
{{ labels }}
<p> To see the labels asigned to each item please run the k-means algorithm with the optimal number of clusters determined above</p>                                                                                     
</body>
<html>


