{% extends "base.html" %}
{% load extra_tags %}
{% load static %}
{% block title %}Feedmedata, machine learning algorithms as a service for business insights.{% endblock %}
{% block meta %}
<meta name="description" content="
Machine Learning as a Software is an Online tool you can use for Data Science and Artificial Intelligence">
<meta property="og:title" content="Machine Learning as a Service">
<meta property="og:site_name" content="Feedmedata">
<meta property="og:url" content="www.feedmedata.me/">
<meta property="og:description" content="Run Machine Learning Algorithms with Only One Click">
<meta property="og:type" content="website" />
<meta property="og:image" content="/static/images/Logo-feedmedata.png">
<meta property="og:locale" content="en_US" />
<link rel="canonical" href="https://www.feedmedata.me" />
<meta name="robots" content="index, follow">
{% endblock %}
{% block content %}
<body class="home" style="background-color:#80ffbf; width:100%"> 
    <div id="top"></div>
    <header id="header-home" style="background-color:#80ffbf">    
        <div id="menu-mobile" style="background-color:#80ffbf;"></div>
            <div class="nav-home" style="background-color:#80ffbf;">
                <div class="logo"><a href="/"><img src="{% static 'images/logo-feedmedata.png' %}" alt="Logo feedmedata" width="300" height="150"/></a></div>
                <nav>
                    {% include "menu.html" %}
                </nav>
                <a href="#" class="toggle-menu">
                    <span class="bar"></span>
                    <span class="bar"></span>
                    <span class="bar"></span>
                </a>          
            </div>          
            </div> 
    </header>    
    <div class="container">{% comment %}<!-- section home-intro" -->{% endcomment %}
        <section class="home-buscado">
            <h2 class="tit1">Upload your data</h2>   
            <form method = "post" enctype = "multipart/form-data" style="text-align:center">
                                {% csrf_token %}
                                <label>Upload a csv file</label>
                                <input type ="file" name="file">
                                <p> Only accept csv files, if you use another format please convert first.</p>
                               <button type = "submit">Upload</button>
                               </form> 
        </section>     
        <div class="logo" align="center"><a href="/"><img src="{% static 'images/carousel/image4.png' %}"/></a></div>
        .tab {
         margin-left: 2.5em
         }
        <section class="home-intro">
            <h1 class="tit1">Choose Machine Learning Algorithm</h1>
            <p class="feat">We run most popular machine learning algorithms with only one click.<br>Just select your desired algorithm and click run for the results</p>
            <div class="algoritmo-desc container xsmall">
                <div class="img-wrapper">
                    <img src="{% static 'images/carousel/image2.png' %}" width="666" height="302" alt="Icon Algorithm The Best 5" />
                </div>
                <div class="txt">
                    <p>Our Artificial Intelligence Algorithms are able to give business insights based on your train data. You can also use them to make predictions on test data. Most often we classify machine learning algorithms in supervised VS unsupervised depending on whether or not you have data for your target variable.</p>
                </div>
            </div>
           .tab {
            margin-left: 2.5em
             }
            <div class="txt" style="text-align:center">>
                   <form method = "post"  style="text-align:center">
                           <select name="Pick One Algorithm">
                               <option value="Linear Regression">Linear Regression</option>
                               <option value="Support Vector Machine">Support Vector Machine</option>
                               <option value="K-Nearest Neighbor">K-Nearest Neighbor</option>
                               <option value="K-Means">K-Means</option>
                               <option value="Random Trees">Random Trees</option> 
                               <option value="Neural Networks">Neural Networks</option> 
                               <input type ="submit" name="Submit>
                           </select>
                   </form> 
            </div>    
            <div class="caracteristicas">
                <div class="Supervised">
                    <p>Supervised algorithms need values for the target column so that the model can be trained in test data</p>
                </div>
                <div class="Unsupervised">
                    <p>Unsupervised algorithms are used when target values are missing. They allow to classify your data and find hidden patterns</p>
                </div>
                <div class="examples supervised">
                    <p>Examples of supervised algorithms are: Regression, Support Vector Machines or Decision trees</p>
                </div>
                <div class="examples of unsupervised">
                    <p>Example of unsupervised algorithms are K-means, PCA or Apriori</p>
                </div>
            </div>
        </section>
           
    </div>
{% endblock %}
        
