{% extends "base.html" %}
{% load extra_tags %}
{% load static %}
{% block title %}Trainyourmodel, machine learning algorithms as a service for business insights.{% endblock %}
{% block meta %}
<meta name="description" content="
Machine Learning as a Software is an Online tool you can use for Data Science and Artificial Intelligence">
<meta property="og:title" content="Machine Learning as a Service">
<meta property="og:site_name" content="Train your model">
<meta property="og:url" content="https://www.trainyourmodel.com/">
<meta property="og:description" content="Run Machine Learning Algorithms with Only One Click">
<meta property="og:type" content="website" />
<meta property="og:image" content="/static/images/Logo-feedmedata.png">
<meta property="og:locale" content="en_US" />
<link rel="canonical" href="https://www.trainyourmodel.com" />
<meta name="robots" content="index, follow">
{% endblock %}
{% block content %}
<body class="home" style="background-color:#80ffbf; width:100%"> 
    <div id="top"></div>
    <header id="header-home" style="background-color:#80ffbf">    
        <div id="menu-mobile" style="background-color:#80ffbf;"></div>
            <div class="nav-home" style="background-color:#80ffbf;">
                <div class="logo"><a href="/"><img src="{% static 'images/logo-feedmedata.png' %}" alt="Logo feedmedata" width="200" height="106"/></a></div>
                <nav>
                    {% include "menu.html" %}
                </nav>
                <a href="#" class="toggle-menu">
                    <span class="bar"></span>
                    <span class="bar"></span>
                    <span class="bar"></span>
                </a>          
            </div>          
            </div> 
    </header>   

    <div class="container" align="center">{% comment %}<!-- section home-intro" -->{% endcomment %}
     <section class="home-upload">
     <h2 class="tit1">Machine Learning Made Easy</h2>  
         
     <p class="feat"> Upload your csv file</p>    
     
     <form action="{% url "portal:upload_csv" %}" method="POST" enctype="multipart/form-data" class="form-horizontal"> 
        {% csrf_token %}
     <input type="file" name="csv_file" id="csv_file" required="True" class="form-control"> 
     <p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p>
     <p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p>
 
           <p>- <strong>Visualize your data:</strong> choose a type of graph and and plot your data.</p>    
     <div class="form-group"> 
        <select name="graficas">
                <option value="scatter">Scatter Plot</option>
                </select>
            <button class="btn btn-xs">PLOT </button>
            <p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p>
     </div>
     <div class="form-group">
            <p>- <strong>Run Algorithms</strong>: choose your desired supervised or unsupervided algorihtm.</p>
            <select name="algoritmo">
                <option value="K-Means">K-Means</option>
                <option value="Linear Regression">Linear Regression</option>
                <option value="Support Vector Machine">Support Vector Machine</option>
                <option value="K-Nearest Neighbor">K-Nearest Neighbor</option>
                <option value="Decision Trees">Decision Trees</option> 
                <option value="Random Forest">Random Forest</option> 
                <option value="Naive Bayes">Naive Bayes</option> 
                <option value="Neural Networks">Neural Networks</option> 
             </select>        
             <button class="btn btn-xs">RUN </button>
        </div> 
     </div> 
    </form> 
    </section>  
    </p>      
    </div> 
    <section class="explanation"> 
    <div class="logo" align="center"><a href="/"><img src="{% static 'images/carousel/image4.png' %}"/></a></div>
    <p><br></p><p><br></p>  
    </section>          
{% endblock %}
        
