{% extends "base.html" %}
{% load extra_tags %}
{% load static %}
{% block title %}Privacy | The Best 5{% endblock %}
{% block meta %}
<meta name="description" content="Statement of Privacy of The Best 5.">
<meta property="og:title" content="Statement of Privacy | The Best 5">
<meta property="og:site_name" content="The Best 5">
<meta property="og:url" content="{{request.build_absolute_uri}}">
<meta property="og:description" content="Statement of Privacy of The Best 5..">
<meta property="og:type" content="website" />
<meta property="og:image" content="{% static 'images/Logo-TheBest5-White.png' %}">
<meta property="og:locale" content="en_GB" />
<link rel="canonical" href="{{request.build_absolute_uri|to_https}}" />
<meta name="robots" content="noindex, follow">
{% endblock %}
{% block content %}
<body>	
	{% comment %}<!-- header -->{% endcomment %}
	<header id="header" class="fixed no-head-bg">
		{% comment %}<!-- shared header -->{% endcomment %}
		{% include "header.html" %}
		{% comment %}<!-- ./shared header -->{% endcomment %}
	</header>
	{% comment %}<!-- ./header -->{% endcomment %}
	<div class="container">
		{% comment %}<!-- section section-text -->{% endcomment %}
		<section class="section-text">
			<div class="container small">
				<h1 class="tit1">Private Policy</h1>
			</div>
			<div class="container small">
				<h2 class="tit3">Private Policy of The Best 5</h2>
				<p>Through this privacy statement we inform you about the data we collect when you use our website and the services offered on it, as well as the purpose for which we use this data.</p>

				<p>The entity responsible for the data is Tbest Intelligent Technology located at P/Fray Francisco 27 3º D, 01007, Vitoria, Spain (hereinafter also referred to as "The Best 5").</p>

				<p> If you wish, we will provide you with the personal data we have stored about you. You can make use of your rights of rectification, blocking and cancellation of the same expressly recognized in the Spanish Law of Data Protection. You can revoke at any time any consent you may have given for the storage of your personal data with immediate effect by notifying us briefly in writing, either to the above address or by e-mail to admin@thebest5.es. If you have any further questions about your data or this privacy policy, you can also do so via this email address.</p>

				<p>By using our website you confirm that you are of legal age. You will be able to visit The Best 5 website without The Best 5 collecting or using your personal data, except in the following cases:</p>
<h2 class="tit3">Opinions</h2>

<p>The Best 5 collects personal data when you, as a customer, submit your assessment of a product, a service or a seller (hereinafter also referred to as "online shop"). In this respect, The Best 5 collects the data indicated in the form in question as well as your IP address (insofar as this is considered as personal data). The data provided will be published on the website only if this is indicated in the field of the relevant form. In the case of opinions pronounced on the online shops, the customer or order number indicated by you will always be provided to the same. If you do not wish these data to be communicated to the online store, you will not be able to give your opinion on it.</p>

<h2 class="tit3">Forms</h2>

<p>When you enter data in the different contact forms, and unless otherwise stated, The Best 5 will store this information. The Best 5 warns that the transmission of data over the Internet is not secure and, therefore, these data may reach unauthorized third parties or could even be manipulated. Please note that when you voluntarily post information (e.g. in forums or comments), it may be collected and used by third parties. The content of your contributions (in particular your comments and messages in the forums) remains available regardless of whether you have anonymized your identity by removing the username or through a pseudonym.</p>

<h2 class="tit3">Newsletter</h2>

<p>Our newsletter regularly informs you about the development of current prices and other interesting offers of comparison of products and services of The Best 5. The subscription is voluntary. Within the framework of the subscription, you give your consent to the processing of the data you have indicated for the sending of email communications. In addition, you consent to The Best 5 collecting and analyzing data about your usage behavior (i.e. about access to our newsletters and the links contained therein) in order to tailor the contents and offers of the newsletters to your needs. For example, if you repeatedly click on links on topic x, but not on topic y, in future newsletters you will only receive links on topic x. You may at any time revoke your consent with immediate effect and without the need to state reasons by sending an e-mail to admin@thebest5.es</p>

<h2 class="tit3">User survey</h2>

<p>By providing us with your email address as part of the subscription to our services specified above, you consent to The Best 5 contacting you to request an assessment of your services and for various market studies through that medium. All survey results are processed and used by The Best 5 without personal references. You may revoke your consent at any time with immediate effect as stated at the beginning of this privacy policy.</p>

<h2 class="tit3">Cookies and IP addresses (non-personal data)</h2>

<p>To ensure the full functionality of the website, The Best 5 or third parties commissioned by The Best 5 store so-called cookies on the client's device. The online stores listed on The Best 5 website may also use cookies, see their corresponding privacy policy.</p>

<p>A cookie is a small text file that is used, among other things, to collect information about the use of a website. These cookies do not contain any personal data, cannot be associated with any particular person and, unless otherwise stated, expire automatically after two years at the latest. Such data is not combined with other data sources.</p>

<p>Use of the website can also be made without cookies. From your browser you can deactivate the storage of cookies, limit it to certain websites or configure it in such a way that you are notified when cookies are sent. You can also delete cookies at any time via your browser.</p>

<p>The Best 5 informs in the following points about the use of cookies in particular cases. Third parties provide a link through which it is possible to block the cookie function (Opt-out). This block will be stored in a cookie, so you can cancel it at any time by deleting the cookies registered in your browser.</p>

<p>In order to surf the Internet and enable data transfer it is necessary that each device has a unique identification, called an IP address. The storage of this address, even for a short period of time, is technically necessary due to the operation of the Internet. The user's personal information associated with an IP, even if it is not abbreviated, can only be provided by the provider in specific cases if the competent authorities have requested it. The Best 5 informs in the following points about the specific modifications that are carried out in IP addresses. Upon registration, The Best 5 will store your IP address for the purpose of legally documenting your consent to receive your e-mails.</p>

<h2 class="tit3">The Best 5</h2>

<p>The cookies set by The Best 5 may be used to collect information regarding browser type and version, resolution, different page views, URL-Clickstream (the order of the pages you have visited among those we offer on the Internet), duration of visits to those pages, the internal reference of products or offers from your list of Favorites as well as the cookie number. However, no personal data such as name, address or email address will be stored. The Best 5 cookies are stored for a maximum of two years and the reference to the list of Favorites only for 90 days, provided you do not delete them before.</p>

<h2 class="tit3">Google Analytics</h2>

<p>The Best 5 uses Google Analytics, a web analytics service from Google. Google Analytics also uses cookies that enable the analysis of website usage by users. The information generated by the cookie about your use of the website (including your IP address) is usually sent to a Google server in the United States where it is stored. The Best 5 has activated IP masking by adding the code "gat._anonymizeIp();" on the website, so that within EU member states or other states signatory to the Agreement on the European Economic Area, Google will previously cut your IP address (so-called IP masking). The full IP address is only sent in exceptional cases to a Google server in the United States where it is clipped. On behalf of The Best 5, Google will use this information for the purpose of evaluating your use of the website, compiling reports on website activity for The Best 5 and providing other services relating to website or Internet usage.</p>

<p>Google may also transfer this information to third parties where required to do so by law, or where such third parties process the information on Google's behalf. Data that Google receives from third parties in connection with interest-based advertising (such as demographics, gender or taste) may also be stored in cookies. Google offers a browser add-on through which you can disable the collection of data by Google Analytics and the processing of such data by Google. The add-on can be found at tools.google.com/dlpage/gaoptout?hl=en-GB where you can download and install it at your own risk. More information about this add-on can be found at: <a href="https://www.google.com/intl/es/analytics/privacyoverview.html" rel="nofollow" target="_blank"> https://www.google.com/intl/es/analytics/privacyoverview.html</a>.</p>

<h2 class="tit3">Google Conversion Tracking</h2>

<p>The Best 5 is a Google AdWords advertising client and uses its conversion tracking. Google sets a conversion tracking cookie when a user reaches The Best 5 website through an ad offered by Google. These cookies become invalid after 540 days and are not used for personal identification. Each AdWords customer receives a different cookie. Cookies cannot, therefore, be tracked through the websites of AdWords customers, in this case The Best 5. Conversion tracking cookie information is used to create conversion statistics for AdWords customers. However, AdWords customers do not obtain any personally identifiable information. Read more about Google's data protection at: https://www.google.com/policies/?hl=en. Users can turn off Google advertising in whole or in part (Opt-out) at:<a href="https://privacy.google.com/?hl=en#google-experience" rel="nofollow" target="_blank"> https://privacy.google.com/?hl=en#google-experience</a>.</p>

<h2 class="tit3">Google Tag Manager pixel conversion management</h2>

<p>The Best 5 makes use of Google Tag Manager, a service of Google. Tags are markups of data elements. Google Tag Manager is a Tag Management system, through which third party conversion pixels mentioned in this privacy policy are uploaded to a website. The tag management tool (which also implements tags) is a cookie-free domain and does not collect any information that can identify the user. However, the tool requests the activation of other tags, and these other tags may collect data. The Google Tag Manager does not access this data. If users have disabled data collection at the domain or cookie level, they will not be affected by any of the tracking tags implemented with Google Tag Manager. More information is available at:<a href="https://www.google.com/intl/en/tagmanager/faq.html y https://www.google.com/intl/en/policies/privacy/" rel="nofollow"  target="_blank">https://www.google.com/intl/en/tagmanager/faq.html y https://www.google.com/intl/en/policies/privacy/</a>.</p>

<p>If you access the Facebook conversion pixel through your browser, Facebook can recognize whether an ad was successful, for example, if it resulted in an online purchase. In this case, The Best 5 receives only statistical data from Facebook without reference to a specific person. The Best 5 can then analyse the effectiveness of its Facebook ads for statistical and market research purposes. For more information, see Facebook's privacy policy: https://es-es.facebook.com/privacy/explanation If you are a Facebook user and wish to revoke your consent regarding the use of the conversion pixel click here:<a href="https://es-es.facebook.com/settings?tab=ads" rel="nofollow" target="_blank">https://es-es.facebook.com/settings?tab=ads</a>.</p>
	</div>
	</section>
	<!-- ./section section-text -->
</div>
{% endblock %}
