{% extends "base.html" %}
{% load extra_tags %}
{% load static %}
{% block title %}Privacy | Feedmedata{% endblock %}
{% block meta %}
<meta name="description" content="Statement of Privacy feedmedata.">
<meta property="og:title" content="Statement of Privacy | feedmedata">
<meta property="og:site_name" content="Feedmedata">
<meta property="og:url" content="{{request.build_absolute_uri}}">
<meta property="og:description" content="Statement of Privacy Feedmedata..">
<meta property="og:type" content="website" />
<meta property="og:image" content="{% static 'images/logo-feedmedata.png' %}">
<meta property="og:locale" content="en_US" />
<link rel="canonical" href="{{request.build_absolute_uri|to_https}}" />
<meta name="robots" content="noindex, follow">
{% endblock %}
{% block content %}
<body>	
	{% comment %}<!-- header -->{% endcomment %}
	<header id="header" class="fixed no-head-bg">
		{% comment %}<!-- shared header -->{% endcomment %}
		{% include "header.html" %}
		{% comment %}<!-- ./shared header -->{% endcomment %}
	</header>
	{% comment %}<!-- ./header -->{% endcomment %}
	<div class="container">
		{% comment %}<!-- section section-text -->{% endcomment %}
		<section class="section-text">
			<div class="container small">
				<h1 class="tit1">Private Policy</h1>
			</div>
			<div class="container small">
				<h2 class="tit3">Private Policy of The Best 5</h2>
				<p>Through this privacy statement we inform you about that we do not collect your data nor have any intention to make a commercial use of your data.</p>
				<p>By using our website you confirm that you are of legal age. You will be able to visit www.feedmedata.me website without the site collecting or using your personal data.


</div>
{% endblock %}
