{% extends "base.html" %}
{% load extra_tags %}
{% load static %}
{% block title %}Terms and Conditions|Feedmedata {% endblock %}
{% block meta %}
<meta name="description" content="Terms and Conditions">
<meta property="og:title" content="Terms and Conditions |Feedmedata">
<meta property="og:site_name" content="Feedmedata">
<meta property="og:url" content="{{request.build_absolute_uri}}">
<meta property="og:description" content="Terms and Conditions.">
<meta property="og:type" content="website" />
<meta property="og:image" content="{% static 'images/Logo-feedmedata.png' %}">
<meta property="og:locale" content="en_US" />
<link rel="canonical" href="{{request.build_absolute_uri|to_https}}" />
<meta name="robots" content="noindex, follow">
{% endblock %}
{% block content %}
<body>
	<!-- header -->
	<header id="header" class="fixed no-head-bg">
		{% comment %}<!-- shared header -->{% endcomment %}
		{% include "header.html" %}
		{% comment %}<!-- ./shared header -->{% endcomment %}
	</header>
	{% comment %}<!-- ./header -->{% endcomment %}
	<div class="container">
		{% comment %}<!-- section section-text -->{% endcomment %}
		<section class="section-text">
			<div class="container small">
				<h1 class="tit1">Terms and Conditions</h1>
			</div>
			<div class="container small">
				<div class="box-feat">
					<p>IMPORTANT: YOU AGREE TO THE FOLLOWING TERMS AND CONDITIONS. IF YOU DO NOT ACCEPT THE TERMS DO NOT USE THIS WEBSITE.</p>
				</div>
				<h2 class="tit3">1. Please be aware...</h2>
				
				<p>That Feedmedata is an online tool to perform calculations. That means:</p>
				<ul>
					<li>· We are not responsible for the use you make of our tool.</li>
					<li>· We are not liable for the implications of your use of this tool.</li>
				        <li>· We don't sell your information.</li>
					<li>· We are not obligated to provide any service or satisfy any petition.</li>
				
       			</div>
		</section>
		{% comment %}<!-- ./section section-text -->{% endcomment %}
	</div>
{% endblock %}
