{% load extra_tags %}
{% load static %}

<html> 
  <body style="background-color:#E4FDE1";"font size: 5";font-style: verdana";"align: center";>
  <h2> These are the results for your dataset and selected algorithm</h2>
  <a href="{% static 'pred.csv' %}" download><font color="blue">Click Here To Download Your Model Predictions</font></a> 
   <br><br>  
   <p> A csv file will be downloaded with one column having the predicted values for each of your test items</p>                                                             
  <h4>Confusion Matrix:</h4>
  <p>A confusion matrix is a table describing the performance of a classificatiom algorithm on your set of test data. This is how to read it:<br>
  <table>
  <tr>
    <th>          </th>                                                                                        
    <th>  Predicted: NO &nbsp;</th>
    <th>  &nbsp;Predicted: YES</th>
  </tr>
  <tr>
    <td>Actual: NO</td>
    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{matrix00}}</td>
    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{matrix01}}</td>
  </tr>
  <tr>
    <td>Actual: YES</td>
    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{matrix10}}</td>
    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{matrix11}}</td>
  </tr>
</table>
                                                                                        
  <h4>Classification Report:</h4>  
  <p> The classification report shows the main classification metrics on a per-class basis:<br>
  <p>- Precision: shows what percentage of all instances classified as positive, was actually positive.<br>
  <p>- Recall: shows what percentage of real positives was classified as positive.<br>
  <p>- F1 Score: The F1 score is a weighted mean of precision and recall such as 1.0 is best and 0.0 is worst.<br>
  <p>- Support: Support is the number of actual occurrences of the class in the specified dataset.                                                                                         
  <p>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   {{ f1 }}</p> 
  <p>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;                     {{ f2 }}</p> 
  <p>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;                     {{ f3 }}</p><br>                                                                                     
  <p>  &nbsp;&nbsp;                                       {{ f4 }}</p> 
  <h4>Mean Absolute Error:</h4>     {{ mae }}                                                                                     
  <h4>Mean Squared Error:</h4>      {{ mse }}   
  <h4>Root Mean Squared Error:</h4> {{ rmse }}                                                                  
  </body>
</html>
